<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" xmlns="http://www.w3.org/1999/html">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<head>
    <title>전시상황</title>
    <link rel="stylesheet" href="/css/chat/chatRoom.css">
</head>
<body>
<div layout:fragment="content">
    <div id="banner">
        <img src="/image/chat/chatRooms.png" alt="배너 이미지">
    </div>
    <input type="hidden" id="sender" th:value="${user}" />
    <div class="container">
        <div class="left-area" id = "leftarea">
            <h3 th:text="${roomName}" class="title"></h3>
            <div class="chat-area">
                <div id="chat-container"></div>
            </div>
            <div class="input-area">
                <input type="text" id="message" placeholder="Message">
                <button id="send" style="display:none;">전송</button>
            </div>
        </div>
        <div class="right-area">
            <div class="participants-area">
                <h3><strong>채팅방 참여자</strong></h3>
                <div id="participants"></div>
            </div>
            <div class="out-area">
                <button id="leave" class="leave">나가기</button>
            </div>
        </div>
    </div>
    <script src="/js/chat/chatRoom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
</div>
</body>
</html>
