<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title>전시상황</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/community/comDetailcss.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c1201c20f733ccf6fd6885ccb9d9b5a7"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gasoek+One&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">	
<form th:action="@{/exhibitscape/community/communityReWriteView/__${comDTO.comId}__}" method="post" enctype="multipart/form-data">
				<div class="category-image"></div>
			<div class="item-content">
				<div class="top-content">
					<div class="category" th:text="${comDTO.comCategory}"></div>
					<div class="title" th:text="${comDTO.comTitle}"></div>
					<div class="writer-info">
						<span class="writer" th:text="${comDTO.memberId}"></span> | 
						<span class="date" th:text="${#temporals.format(comDTO.postDate, 'yyyy-MM-dd')}"></span>
					</div>
				</div>
				<div class="item-image" th:if="${comDTO.comImgSname != null and comDTO.comImgSname != ''}">
					<img th:src="@{/comFile/{comImgPath}/{comImgSname}(comImgPath=${comDTO.comImgPath}, comImgSname=${comDTO.comImgSname})}" alt="Community Image">
					<input type="hidden" name="comImgSname" th:value="${comDTO.comImgSname}">
					<input type="hidden" name="comImgPath" th:value="${comDTO.comImgPath}">
				</div>
				<div class="content" th:text="${comDTO.comContent}"></div>
				<!-- 저장된 지도 보여주기 -->
				<div th:if="${comDTO.placeLat != '' and comDTO.placeLong != '' and comDTO.placeName != ''}">
					<div class="map" id="map" th:data-com-id="${comDTO.comId}"></div>
				</div>
				<!-- 좋아요영역 -->
				<div class="like">
				    <span class="like-info" th:if="${#authentication.principal != 'anonymousUser'}" th:onclick="'toggleLike(' + ${comDTO.comId} + ')'">
				        <img id="heart" class="like-btn" th:src="@{${comDTO.liked ? '/image/community/redheart.png' : '/image/community/emptyheart.png'}}" alt="Like">
				        <span class="like-count" th:text="${comDTO.likeCount}"></span>
				    </span>
				    <span class="like-info" th:unless="${#authentication.principal != 'anonymousUser'}" th:onclick="showLoginAlert()">
				        <img id="heart" class="like-btn" th:src="@{${comDTO.liked ? '/image/community/redheart.png' : '/image/community/emptyheart.png'}}" alt="Like">
				        <span class="like-count" th:text="${comDTO.likeCount}"></span>
				    </span>
				</div>
				<!-- 댓글 시작 -->
				<div class="comment-wrap reply">
					<div class="comment-list">
						<ul>
							<li class="comment-li" th:each="comment:${comDTO.commentList}">
							<div class="comment-item">
								<div class="comment-thumb">
									<div class="profile-img">
									    <img th:src="@{/image/community/{fileName}(fileName=${comment.imgRandom})}" alt="Random Image">
									</div>
								</div>
								<div class="comment-content">
									<div class="comment-info">
										<div class="user-info">
											<span class="name" th:text="${comment.memberId}"></span>
											<span class="postDate"  th:text="${#temporals.format(comment.postDate, 'yyyy-MM-dd')}"></span>
										</div>
									</div>
									<div class="comment-text" th:text="${comment.comContent}" th:data-comcom-id="${comment.comComId}"></div>
									<div class="comment-btn">
										  <input type="button" class="comment-update-btn" value="수정" th:onclick="'enterEditMode(' + ${comment.comComId} + ')'"
										         sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}"/>
										  <input type="button" class="comment-delete-btn" value="삭제" th:onclick="'deleteComment(' + ${comment.comComId} + ')'"
										  		 sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}"/>
										  <button class="save-comment" style="display: none;">수정 완료</button>
									</div>
								</div>
							</div>
						</ul>
					</div>
					<div class="comment-area">
						<!-- 댓글쓰기 -->
						<div class="col-10">
							<textarea class="comment-write-area" maxlength="1000" placeholder="로그인 후 이용가능합니다." th:if="${#authentication.principal == 'anonymousUser'}" th:onclick="showLoginAlert()"></textarea>
							<textarea class="comment-write-area" maxlength="1000" placeholder="댓글을 입력하세요." th:unless="${#authentication.principal == 'anonymousUser'}"></textarea>
						</div>
						<div class="comment-btn">
							<div>
								<span class="current"></span>
								<span class="total"></span>
							</div>
							<div>
								<input type="button" class="comment-confirm-btn" value="댓글 등록" th:onclick="'submitComment(' + ${comDTO.comId} + ')'"/>
							</div>
						</div>
					</div>
				</div>
			<div class="button-group">
			  <div class="submit-group">
			    <a href="/exhibitscape/community/communityList" class="list-button">목록</a>
			  </div>
			  <div class="edit-delete-group"> <!-- 클래스 이름 변경 -->
			    <button type="submit" class="edit-button" sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}">수정</button>
			    <a th:href="@{/exhibitscape/delete/{comId}(comId=${comDTO.comId})}" class="delete-button" sec:authorize="isAuthenticated()" th:if="${comDTO.memberId!=null and comDTO.memberId==#authentication.getPrincipal().getUsername()}">삭제</a>
			  </div>
			</div>
			</div>
		</form>

<script>
//댓글 등록..
function submitComment(comId) {
	  var commentContent = $(".comment-write-area").val().trim();
	  if (commentContent === "") {
	    alert("댓글 내용을 입력해주세요.");
	    return;
	  }

	  $.ajax({
	    type: "POST",
	    url: "/exhibitscape/comment/write/" + comId,
	    data: { comContent: commentContent },
	    success: function(response) {
	      var newComment = response;
	      var postDate = new Date(newComment.postDate);
	      var formattedDate = postDate.toISOString().split('T')[0];
	      var commentHtml = `
	        <li class="comment-li">
	          <div class="comment-item">
	            <div class="comment-thumb">
	            <div class="profile-img">
			    	<img src="/image/community/${newComment.imgRandom}" alt="Random Image">
				</div>
				</div>
	            <div class="comment-content">
	              <div class="comment-info">
	                <div class="user-info">
	                  <span class="name">${newComment.memberId}</span>
	                  <span class="postDate">${newComment.postDate}</span>
	                </div>
	              </div>
	              <div class="comment-text" data-comcom-id="${newComment.comComId}">${newComment.comContent}</div>
	              <div class="comment-btn">
	                <input type="button" class="comment-update-btn" value="수정" onclick="enterEditMode(${newComment.comComId})"/>
	                <input type="button" class="comment-delete-btn" value="삭제" onclick="deleteComment(${newComment.comComId})"/>
	                <button class="save-comment" style="display: none;">수정 완료</button>
	              </div>
	            </div>
	          </div>
	        </li>
	      `;
	      $(".comment-list ul").append(commentHtml);
	      $(".comment-write-area").val("");
	    },
	    error: function(xhr, status, error) {
	      alert("댓글 등록에 실패했습니다.");
	    }
	  });
	}

function enterEditMode(comComId) {
	  var $commentText = $(".comment-text[data-comcom-id='" + comComId + "']");
	  var originalText = $commentText.text(); // 원래 댓글 내용 저장
	  $commentText.attr('contenteditable', 'true');
	  $commentText.focus();
	  var $commentBtn = $commentText.closest('.comment-content').find('.comment-btn');
	  $commentBtn.find('.comment-update-btn, .comment-delete-btn').hide(); // 수정, 삭제 버튼 숨기기
	  var $saveButton = $commentBtn.find('.save-comment');
	  $saveButton.show();
	  $saveButton.off('click').on('click', function() {
	    updateComment(comComId, originalText);
	    return false; // 폼 제출 방지
	  });
	}

	//댓글수정
	function updateComment(comComId, originalText) {
	  var $commentText = $(".comment-text[data-comcom-id='" + comComId + "']");
	  var comContent = $commentText.text().trim();
	  if (comContent === "") {
	    alert("댓글 내용을 입력해주세요.");
	    $commentText.text(originalText); // 원래 댓글 내용으로 되돌림
	    return;
	  }
	  $.ajax({
	    type: 'POST',
	    url: '/exhibitscape/comment/update/' + comComId,
	    data: { comContent: comContent },
	    success: function(response) {
	      var updatedComment = response;
	      var postDate = new Date(updatedComment.postDate);
	      var formattedDate = postDate.toISOString().split('T')[0];
	      $commentText.siblings('.comment-info').find('.postDate').text(formattedDate);
	      $commentText.attr('contenteditable', 'false');
	      var $commentBtn = $commentText.closest('.comment-content').find('.comment-btn');
	      $commentBtn.find('.comment-update-btn, .comment-delete-btn').show(); // 수정, 삭제 버튼 보이기
	      $commentBtn.find('.save-comment').hide(); // 수정완료 버튼 숨기기
	    },
	    error: function() {
	      alert('댓글 수정에 실패했습니다.');
	      $commentText.text(originalText); // 원래 댓글 내용으로 되돌림
	    }
	  });
	}
	
	//댓글삭제
	function deleteComment(comComId) {
	  $.ajax({
	    type: 'POST',
	    url: '/exhibitscape/comment/delete/' + comComId,
	    success: function(response) {
	      if (response === 'success') {
	        // 삭제 성공 시 해당 댓글 요소를 화면에서 제거
	        $(".comment-text[data-comcom-id='" + comComId + "']").closest('.comment-li').remove();
	      } else {
	        alert('댓글 삭제에 실패했습니다.');
	      }
	    },
	    error: function() {
	      alert('댓글 삭제에 실패했습니다.');
	    }
	  });
	}
	//좋아요
	function toggleLike(comId) {
    $.ajax({
        url: '/exhibitscape/community/' + comId + '/like',
        type: 'POST',
        success: function(response) {
            // 좋아요 상태 업데이트
            var heartImg = $('#heart');
            var likeCountSpan = $('.like-count');
            
            if (response.liked) {
                heartImg.attr('src', '/image/community/redheart.png');
            } else {
                heartImg.attr('src', '/image/community/emptyheart.png');
            }
            
            likeCountSpan.text(response.likeCount);
        },
        error: function(xhr, status, error) {
            console.log('좋아요 토글 실패');
            
        }
    });
}
	
	function showLoginAlert() {
	    var result = confirm("로그인 하셔야 이용할 수 있습니다. 로그인 페이지로 이동하시겠습니까?");
	    if (result) {
	        window.location.href = "/login"; // 로그인 페이지 URL로 변경해야 합니다.
	    }
	}
	
//지도 생성하기
 	// 현재 페이지의 comId 값 가져오기
    var mapElement = document.getElementById('map');
    var comId = mapElement.getAttribute('data-com-id');

    // 서버로부터 데이터 가져오기
    fetch('/exhibitscape/map-data?comId=' + comId)
        .then(response => response.json())
        .then(data => {
            var latitude = data.placeLat;
            var longitude = data.placeLong;
            var placeName = data.placeName;

            // 지도 초기화 및 마커 표시 로직
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(latitude, longitude), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 마커가 표시될 위치입니다 
            var markerPosition = new kakao.maps.LatLng(latitude, longitude);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            var iwContent = '<div style="padding:5px;">' + placeName + '</div>',
                iwPosition = new kakao.maps.LatLng(latitude, longitude); //인포윈도우 표시 위치입니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position: iwPosition,
                content: iwContent
            });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker);
        })
        .catch(error => {
            console.error('데이터를 가져오는 중 오류 발생:', error);
        });

</script>
</div>		
</body>
</html>