@charset "UTF-8";

	
body {
    font-family: "Noto Sans KR", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}
.container {
	display: grid;
    padding: 20px;
    margin-left: 270px;
    padding: 40px;
    width: 75%
}
.sidebar {
    position: absolute;
    top: 420px;
    left: 0;
    width: 245px;
    height: 110%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.keywordSearch {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.keywordSearch h3 {
    margin: 0;
    border-bottom: 1px solid #555;
    
}

.keywordSearch .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}
.popular h2 {
    margin-bottom: 20px;
}
.popular ul {
    list-style: none;
    padding: 0;
}
.popular li {
    margin-bottom: 10px;
}
.popular a {
    color: white;
    text-decoration: none;
}

.popular_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}
.popular_list h2 {
    margin-bottom: 20px;
}
.popular_list ul {
    list-style: none;
    padding: 0;
}
.popular_list li {
    margin-bottom: 10px;
}
.popular_list a {
    color: white;
    text-decoration: none;
}

/* 이벤트 카드를 그리드로 배치 */
.event-schedule {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    margin-left: 80px;
}

.card-image {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 이벤트 카드 스타일 */
.event-card {
    background-color: rgb(255, 255, 255, 0.3);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

/* 이벤트 카드 내부의 내용 영역 스타일 */
.event-card .card-content {
    position: relative;
    z-index: 5;
    flex-grow: 1;
    opacity: 5;
}

/* 이벤트 카드 내부의 이미지 스타일 */
.event-card .card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease; /* 호버 시 서서히 나타나는 효과 */
}
 
.event-card:hover .card-image {
    opacity: 1;
}

/* 이벤트 제목 스타일 */
.event-card h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}
.event-card a {
	text-decoration: none;
	color: black;
}

/* 날짜와 장소 스타일 */
.date, .location {
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    margin-bottom: 10px;
}
/* 호버 효과 */
.event-card:hover .card-content {
    display: none;
}

.event-card:hover .card-image {
    display: block;
}

.page ul {
    text-align: center;
    margin-top: 20px;
}
.page ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.page a {
    text-decoration: none;
}
/*스위칭 버튼 효과주기*/
@keyframes buttonSlide {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

#toggleButton1 {
  animation: buttonSlide 0.5s ease-in-out;
}

#toggleButton1:active {
  animation-play-state: running;
}
#toggleButton1 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: none;
  color: #333;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#toggleButton1:active {
  background-color: #0077b6;
  color: #fff;
  transform: scale(1.1);
}
#toggleButton2 {
  animation: buttonSlide 0.5s ease-in-out;
}

#toggleButton2:active {
  animation-play-state: running;
}
#toggleButton2 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: none;
  color: #333;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#toggleButton2:active {
  background-color: #0077b6;
  color: #fff;
  transform: scale(1.1);
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* 기본 버튼 스타일 */
input[type="button"] {
  border: none;
  background-color: transparent;
  border: 1px solid #999999; /* 테두리 색상 설정 */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease, transform 0.2s ease; /* 색상과 위치 변환 애니메이션 적용 */
}

/* 마우스 호버 시 스타일 */
input[type="button"]:hover {
  background-color: rgba(69, 160, 73, 0.7);
  transform: translateX(10px);
}

#banner {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
#banner img {
    max-width: 100%;
    height: auto;
}
.toggle {
    margin-left: 20px;
    margin-top: 40px;
}
/*여기부터는 캘린더*/
#calendarBox{
    width: 70%;
    padding-left: 22%;
    
}
/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}
/*여기까지 캘린더*/
.search-result-message{
	background-color: rgb(255, 255, 255,0.3);
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
}

/* dateSearch 클래스를 가진 폼 스타일링 */
.dateSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* dateSearch 클래스를 가진 폼 내의 날짜 입력 필드 스타일 */
.dateSearch input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #555;
    color: white;
}

/* dateSearch 클래스를 가진 폼 내의 버튼 스타일 */
.dateSearch input[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #999999; /* 테두리 색상 설정 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dateSearch input[type="button"]:hover {
    background-color: rgba(69, 160, 73, 0.7);
}
.popular_list h2 {
	border-bottom: 1px solid #444;
}
.popular h2 {
	border-bottom: 1px solid #444;
}

/* 페이지네이션 스타일 */
.page ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.page li {
    display: inline-block;
    margin-right: 5px;
}

.page li a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.page li a:hover, .page li a.active {
    background-color: #45a049;
    color: white;
}

/* 모달 스타일 */
.modal {
    display: none; /* 숨김 처리 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 상위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 스크롤 가능 */
    background-color: rgba(0,0,0,0.4); /* 어둡게 */
}

/* 모달 컨텐츠 */
.modal-content {
    background-color: rgb(192, 192, 192,0);
    margin: 15% auto; /* 가운데 정렬 */
    padding: 20px;
    width: 50%; /* 모달 너비 */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalRoomCreate{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 20%; /* 부모 요소의 50% 너비 */
    margin-left: 35%; /* 수평 가운데 정렬 */
    margin-bottom: 50px;
}