<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
	    <div class="footer-container">
            <div class="footer-content">
                <p>회사 정보 | 개인정보 처리방침 | 이용 약관</p>
                <p>&copy; 2024 회사명. 모든 권리 보유.</p>
            </div>
        </div>
    <div>
        <style>
			.footer-container {
			    background-color: #f1f1f1;
			    padding: 20px;
			    text-align: center;
			}
			
			.footer-content p {
			    margin: 10px 0;
			    color: #666;
			}
			
		</style>
    </div>
</footer>
</html>