body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  background-color: #fff;
}

.category-image {
  width: 100%;
  height: 210px; /* 원하는 높이로 조정 */
  background-image: url('/image/community/community.png'); /* 이미지 경로 설정 */
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 60px;
}


.write-form {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
}

.write-group {
	margin: 0 auto;
}

.form-group {
	margin-bottom: 15px;
	
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 50px;
}

.form-group input[type="text"] {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 50px;
	
}

.form-group select {
	width: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 50px;
}

.form-group textarea {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	resize: vertical; /* 수직 방향으로만 크기 조절 가능 */
	margin-left: 50px;
}
.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
}

.submit-group input[type="submit"],
.submit-group input[type="reset"],
.submit-group a {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.submit-group input[type="submit"]:hover,
.submit-group input[type="reset"]:hover,
.submit-group a:hover {
  background-color: #f0f0f0;
}

.submit-group a:visited {
  color: #333; /* 방문한 링크 색상을 검은색으로 설정 */
}
.preview {
    max-width: 300px; /* 최대 너비 */
    max-height: 200px; /* 최대 높이 */
    display: block; /* 이미지를 블록 요소로 만들어 가운데 정렬 */
    margin: 0 auto; /* 가운데 정렬 */
}


.img-update-btn{
	display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 50px;
}

.file-group{
	margin-left: 50px;
}

.file-label{
	margin-right: 10px;
	padding: 5px 10px;
    background-color: #fff;
    color: #515151;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size:13px;
	
}
.file-label:hover {
  opacity: 0.8;
  background-color: #f0f0f0;
}

/*지도 구현*/
/* 지도 구현 */
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 90%;
  height: 350px;
  margin-left: 60px; /* 오른쪽으로 250px 이동 */
  margin-bottom: 20px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 50px; /* 왼쪽으로 250px 이동 */
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5F5F5F;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}